
  <div class="row">
    <div class="col-md-12">
      <div class="container rounded bg-white" style="margin-bottom: 50px">
        <div class="row d-flex justify-content-center pb-5">

            <div class="col-sm-12 col-md-12 ml-1 offset-md-1" style="margin-top: 40px; margin-bottom: 50px" >
                <div class="py-4 d-flex justify-content-end">
                    <h6><a href="#"></a></h6>
                </div>
                <div class="bg-light rounded d-flex flex-column">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Url generated</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let map of mappingurls">
                            <th scope="row">{{map.createdDateTime | date}}</th>
                            <td>{{weburl + map.urlGenerated}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    </div>

  </div>



 

  
  

 

  
  
 

  
  

 

  
  