<!--begin::Navigation-->
<ul class="navi navi-hover">
  <li class="navi-header pb-1">
    <span class="text-primary text-uppercase font-weight-bold font-size-sm"
      >Setup Parameters:</span>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"><i class="flaticon2-writing"></i></span>
      <span class="navi-text">  <input type="text" class="form-control" id="normalValueStart" aria-describedby="normalValueStart" autocomplete="off" placeholder="Normal Value Start"></span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"><i class="flaticon2-writing"></i></span>
      <span class="navi-text"><input type="text" class="form-control" id="normalValueEnd" aria-describedby="normalValueEnd" autocomplete="off" placeholder="Normal Value End"></span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"><i class="flaticon2-writing"></i></span>
      <span class="navi-text"> <input type="text" class="form-control" id="parameterName" aria-describedby="parameterName" autocomplete="off" placeholder="Medium Value Start"></span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"><i class="flaticon2-writing"></i></span>
      <span class="navi-text"> <input type="text" class="form-control" id="parameterValue" aria-describedby="parameterValue" autocomplete="off" placeholder="Medium Value End"></span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"><i class="flaticon2-writing"></i></span>
      <span class="navi-text"><input type="text" class="form-control" id="parameterName" aria-describedby="parameterName" autocomplete="off" placeholder="High Value Start"></span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"><i class="flaticon2-writing"></i></span>
      <span class="navi-text"><input type="text" class="form-control" id="parameterValue" aria-describedby="parameterValue" autocomplete="off" placeholder="High Value End"></span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-icon"></span>
      <span class="navi-text"> <button type="submit" class="btn btn-primary">Submit</button></span>
    </a>
  </li>
</ul>
<!--end::Navigation-->
