<div class="card card-custom" [ngClass]="cssClass">
  <!-- Header -->
  <div class="card-header border-0 pt-5">
    <div class="card-title">
      <div class="card-label">
        <div class="font-weight-bolder">Report Stats</div>
        <div class="font-size-sm text-muted mt-2"></div>
      </div>
    </div>
  </div>
  <!-- Body -->
  <div *ngIf="!isempty" class="card-body d-flex flex-column px-0">
    <!--begin::Chart-->
    <div id="chart">
      <br>
      <div class="col-xl-9" style="margin-left: 150px;">
        <div style="display: block;">
          <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
        </div>
      </div>
    </div>
    <div *ngIf="isempty" class="card-body d-flex flex-column px-0">
      No report found.
    </div>
    <!--end::Chart-->
    <!--begin::Items-->
  
    <!--end::Stats-->
  </div>
</div>
