<!--begin::Signin-->
<div class="login-form login-signin">
    <!--begin::Form-->
    <form>
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Monitoreez
        </h3>
        <h5 class="font-weight-bolder text-dark font-size-h6">
          Hospital Selection
         </h5>
      </div>
      <!--end::Title-->
  
      <!--begin::Form group-->
      <!-- <div class="form-group">
            <label for="roleSelection" class="font-weight-bolder">Select Hospital</label>
            <select id="roleSelection" (change)="onChange($event.target.value)" class="form-control">
              <option>-Please Select-</option>
              <option *ngFor="let hos of hospitals" value={{hos.HospitalId}}>
              {{hos.HospitalName}}
            </option>
            </select>
     </div> -->

     <div>
        <label for="roleSelection" class="font-weight-bolder">Select Hospital To Proceed</label>
        <ng-select bindLabel="name" placeholder="Select Hospital" name="selected" appendTo="body"
              [searchable]="true" [clearable]="true" [(ngModel)]="selected">
              <ng-option [value]="hos.HospitalId"  [disabled]="false" *ngFor="let hos of hospitals">
                {{hos.HospitalName}}
              </ng-option>
            </ng-select>
            <div *ngIf="errorSelected" style="color: red;">
                  Please Select Hospital
            </div>
            <br>
     </div>

     <div class="pb-lg-0 pb-5">
        <button
          type="submit"
          (click)="submithospital()" 
          id="kt_next"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
          Next
        </button>
      </div>
    </form>
    <!--end::Form-->
  </div>
  <!--end::Signin-->
  

  