<div *ngIf="hasError" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorText}}
  <button type="button" (click)="closeNotification()" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card card-custom card-stretch gutter-b">
      <!-- Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="font-weight-bolder text-dark">Doctor Referral</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm"
            >Add New referral</span
          >
        </h3>
      </div>
      <!-- Body -->
      <div class="card-body pt-4">
        <div *ngIf="showPostSuccessNotification" class="alert alert-success alert-dismissible fade show" role="alert">
          {{postSuccessText}}
           <button type="button" (click)="closeNotification()" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>

       <form #myForm="ngForm"  (submit)="submitForm()">
        <div class="form-group">
          <label for="uname">FullName</label>
          <input type="text"
           autocomplete="off" 
           id="fullName" 
           name="fullName"  
           #fullName="ngModel" 
           placeholder="Full Name" 
           ngModel 
           class="form-control form-control-lg rounded-0" 
           required 
           maxlength="30" 
           minlength="5">

         <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
                    style="color: red;">
                  <div *ngIf="fullName.errors.required">
                    Full Name is required.
                  </div>
                  <div *ngIf="fullName.errors.minlength">
                    Full Name cannot be less than 5 characters.
                  </div>
                  <div *ngIf="fullName.errors.maxlength">
                    Full Name does not exceed 30 characters.
                  </div>
        </div>
      </div>
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="number"  min="0"
        autocomplete="off" 
        id="mobileNumber" 
        name="mobileNumber"  
        #mobileNumber="ngModel" 
        placeholder="Mobile Number" 
        ngModel 
        class="form-control form-control-lg rounded-0" 
        minlength="10"
        maxlength="30" 
        required
        number
        >

        <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)"
        style="color: red;">
      <div *ngIf="mobileNumber.errors.required">
        Mobile Number is required.
      </div>
      <div *ngIf="mobileNumber.errors.minlength">
        Mobile Number cannot be less than 10 characters.
      </div>
      <div *ngIf="mobileNumber.errors.maxlength">
        Mobile Number does not exceed 30 characters.
      </div>

      </div>
   </div>
    <div class="form-group">
      <label for="uname">Select Hospital</label>
    <ng-select  
      #MyNgSelect            
      bindLabel="name"
      placeholder="Select item"
      [(ngModel)]="selected"
      name="selectHospital"
      [multiple]="true"
      required
      >
      <ng-option [value]="hospital.hospitalId"  *ngFor="let hospital of hospitals"> 
          {{hospital.hospitalName}}
      </ng-option>
   </ng-select>
      <div class="invalid-feedback">Oops, you missed this one.</div>
  </div>
    <div class="form-group">
      <label for="uname">EmailID</label>
      <input type="text" 
      autocomplete="off" 
      id="emailID" 
      name="emailID"  
      #emailID="ngModel" 
      placeholder="Email ID" 
      ngModel 
      class="form-control form-control-lg rounded-0" 
      minlength="5"
      maxlength="30" 
      required
      email
      >
      <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched)"
      style="color: red;">
    <div *ngIf="emailID.errors.required">
      EmailID is required.
    </div>
    <div *ngIf="emailID.errors.minlength">
      EmailID cannot be less than 5 characters.
    </div>
    <div *ngIf="emailID.errors.maxlength">
      EmailID does not exceed 30 characters.
    </div>
    <div *ngIf="emailID.errors.email">
      Please Enter Valid Email ID
    </div>

    </div>
  </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">{{buttontext}}</button>
        &nbsp;
        <button *ngIf="isEdit" (click)="resetData()" type="submit" class="btn btn-danger">Cancel</button>
      </form>
      
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-custom">
      <!-- Header -->
      <div class="card-header border-0">
        <h3 class="card-title font-weight-bolder text-dark">View</h3>
        <div class="card-toolbar">
        </div>
      </div>
      <!-- Body -->
      <div class="card-body pt-0">
        <div *ngIf="showUpdateNotification" class="alert alert-success alert-dismissible fade show" role="alert">
          {{updateMessage}}
           <button type="button" (click)="closeNotification()" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         </div>
      
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Doctor Name</th>
                <th scope="col">Hospitals</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="showEmpty">
                <td></td>
                <td style="color: red;">No Records Found</td>
                <td></td>
              </tr>
              <tr *ngFor="let DoctorReferral of DoctorReferrals | paginate:{itemsPerPage: 5, currentPage:p}">
                <td>{{DoctorReferral.user.fullName}}</td>
                <td>   
                  <div style="height: 75px;overflow: auto;">
                     <div *ngFor="let userhospital of DoctorReferral.userHospitalMapResults" >
                      <div *ngFor="let hospitalInfo of userhospital.hospitalInfo">
                        <span style="font-size: smaller; font-style:italic">
                          {{hospitalInfo.hospitalName}}</span><br>
                      </div>
                     </div>
                  </div>
                <td>
                  <!-- <button title="Edit Role" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                  (click)="edit(DoctorReferral.user.userID,DoctorReferral.user.userName,DoctorReferral.user.emailId,DoctorReferral.user.mobileNumber)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                </button> -->
                <button title="Delete Hospital" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(DoctorReferral.user.userID)"
                >
                  <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-danger">
                  </span>
                </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!--end::Section-->
        </div>
        <hr>
        <div id="pagination" class="pagination justify-content-end marginRight10px">
              <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div> 
        <!--end::Item-->
      </div>
     
    </div>
  </div>
